<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
	<div class="f4 fw4 no-underline white-70 dn dib-ns pv2 ph3">
		<a class="hover-white no-underline white-70" href="{{ .Site.BaseURL }}">
			&copy; 4352(2019)-{{ (now.AddDate 2333 0 0).Format "2006" }}{{ now.Format "(2006)" }} {{ .Site.Title }}.
		</a>
		Built with <a class="hover-white white-70" href="https://gohugo.io/">Hugo</a>. Theme: <a class="hover-white white-70" href="https://github.com/budparr/gohugo-theme-ananke">Ananke</a> under <a class="hover-white white-70" href="https://github.com/budparr/gohugo-theme-ananke/blob/master/LICENSE.md">MIT License</a>
	</div>
</footer>
