<nav class="pv3 ph3 ph4-ns" role="navigation">
	<div class="flex-l justify-between items-center center">
		<a href="{{ .Site.BaseURL }}" class="f3 fw2 hover-white no-underline white-90 dib">
			{{ .Site.Title }}
		</a>
		<p class="f3 fw2 white-90 dib">
			누리글월: thisispiri, gmail
			<br>
			<a class="white-90" href="/wt/tm">제잼틀</a>
			<a class="white-90" href="/wt/rm">바벨의 셈</a>
			<a class="white-90" href="/wt/sm">말모이</a>
			<a class="white-90" href="/wt/am">아무넣</a>
			<a class="white-90" href="/piri.asc">열린열쇠</a>
			<br><br>
		</p>
		<div class="flex-l items-center">
			{{ partial "i18nlist.html" . }}
			{{ if .Site.Menus.main }}
				<ul class="pl0 mr3">
					{{ range .Site.Menus.main }}
					<li class="list f5 f4-ns fw4 dib pr3">
						<a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
							{{ .Name }}
						</a>
					</li>
					{{ end }}
				</ul>
			{{ end }}
			{{ partialCached "social-follow.html" . }}
		</div>
	</div>
</nav>
