<ul class="pa0">
	{{ range .Params.tags }}
	 <li class="list">
		 <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="link f5 grow no-underline br-pill ba ph3 pv2 mb2 dib black sans-serif">
			 {{- . -}}
		 </a>
	 </li>
	{{ end }}
</ul>
