<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
		<title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

		{{ $stylesheet := .Site.Data.webpack_assets.app }}
		{{ with $stylesheet.css }}
			<link href="{{ relURL (printf "%s%s" "dist/" .) }}" rel="stylesheet">
		{{ end }}

		{{ range .Site.Params.custom_css }}
			<link rel="stylesheet" href="{{ relURL ($.Site.BaseURL) }}{{ . }}">
		{{ end }}
		<link rel="shortcut icon" href="/{{ .Site.Params.favicon }}" type="image/x-icon"/>
		{{ if .OutputFormats.Get "RSS" }}
		{{ with .OutputFormats.Get "RSS" }}
			<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
			<link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
			{{ end }}
		{{ end }}

	</head>

	<body class="ma0 {{ $.Param "body_classes" | default "avenir bg-near-white"}}{{ with getenv "HUGO_ENV" }} {{ . }}{{ end }}">

		{{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
		<main class="pb7" role="main">
			{{ block "main" . }}{{ end }}
		</main>
		{{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}
	</body>
</html>
